CalWebServletClient/src/conf/xml-resources/web-service-references/CalWS/wsdl/localhost_8080/CalWS/CalWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculator.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculator.com/" name="CalWS">
<types>
<xsd:schema>
<xsd:import namespace="http://calculator.com/" schemaLocation="http://localhost:8080/CalWS/CalWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="multiplication">
<part name="parameters" element="tns:multiplication"/>
</message>
<message name="multiplicationResponse">
<part name="parameters" element="tns:multiplicationResponse"/>
</message>
<message name="divition">
<part name="parameters" element="tns:divition"/>
</message>
<message name="divitionResponse">
<part name="parameters" element="tns:divitionResponse"/>
</message>
<message name="addition">
<part name="parameters" element="tns:addition"/>
</message>
<message name="additionResponse">
<part name="parameters" element="tns:additionResponse"/>
</message>
<message name="substraction">
<part name="parameters" element="tns:substraction"/>
</message>
<message name="substractionResponse">
<part name="parameters" element="tns:substractionResponse"/>
</message>
<portType name="CalWS">
<operation name="hello">
<input wsam:Action="http://calculator.com/CalWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://calculator.com/CalWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="multiplication">
<input wsam:Action="http://calculator.com/CalWS/multiplicationRequest" message="tns:multiplication"/>
<output wsam:Action="http://calculator.com/CalWS/multiplicationResponse" message="tns:multiplicationResponse"/>
</operation>
<operation name="divition">
<input wsam:Action="http://calculator.com/CalWS/divitionRequest" message="tns:divition"/>
<output wsam:Action="http://calculator.com/CalWS/divitionResponse" message="tns:divitionResponse"/>
</operation>
<operation name="addition">
<input wsam:Action="http://calculator.com/CalWS/additionRequest" message="tns:addition"/>
<output wsam:Action="http://calculator.com/CalWS/additionResponse" message="tns:additionResponse"/>
</operation>
<operation name="substraction">
<input wsam:Action="http://calculator.com/CalWS/substractionRequest" message="tns:substraction"/>
<output wsam:Action="http://calculator.com/CalWS/substractionResponse" message="tns:substractionResponse"/>
</operation>
</portType>
<binding name="CalWSPortBinding" type="tns:CalWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addition">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="substraction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalWS">
<port name="CalWSPort" binding="tns:CalWSPortBinding">
<soap:address location="http://localhost:8080/CalWS/CalWS"/>
</port>
</service>
</definitions>